# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Distribution
dist/
build/
*.egg-info/

# Project Temp Files
*.sh
*.ps1
*.txt
.env
virtual_hsm/storage/

# Frontend
frontend/node_modules/